<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuhao.datasynctask.mapper.VCouponListUpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.liuhao.datasynctask.entity.VCouponListUpEntity">
        <id column="appid" property="appid" />
        <result column="openid" property="openid" />
        <result column="couponid" property="couponid" />
        <result column="pcashvalue" property="pcashvalue" />
        <result column="coupontype" property="coupontype" />
        <result column="status" property="status" />
        <result column="source" property="source" />
        <result column="auditdate" property="auditdate" />
        <result column="printdate" property="printdate" />
        <result column="startdate" property="startdate" />
        <result column="enddate" property="enddate" />
        <result column="fullamt" property="fullamt" />
        <result column="pcashid" property="pcashid" />
        <result column="pcashDescription" property="pcashDescription" />
        <result column="award_id" property="awardId" />
        <result column="updatedate" property="updatedate" />
        <result column="useddate" property="useddate" />
        <result column="company_id" property="companyId" />
        <result column="sync_time" property="syncTime" />
        <result column="sync_flag" property="syncFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        appid, openid, couponid, pcashvalue, coupontype, status, source, auditdate, printdate, startdate, enddate, fullamt, pcashid, pcashDescription, award_id, updatedate, useddate, company_id, sync_time, sync_flag
    </sql>

</mapper>
